<%- include("header"); -%>

<h2>This is about page</h2>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae eius
  quisquam delectus commodi cupiditate consequuntur quam incidunt reprehenderit
  fugiat ipsum porro nihil minus, iusto cum, architecto esse doloribus? Nihil,
  eaque!
</p>

<%- include("footer"); -%>
